@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.coll-navbar-gradient {
    background: radial-gradient(circle at center, #F8F9FA, #ebebeb);
}

.coll-canvas-logo {
    width: 30px;
}

.coll-nav-search {
    width: 350px;
}

body {
    padding-top: 50px;
}

.coll-navbar {
    background-color: #ffffff;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.coll-divider-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.coll-divider {
    height: 4rem;
    background-color: #ffffff;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0px 0.5em 1.5em 0px rgba(127, 252, 173, 0.74), inset 1px 0em .5em rgba(0, 0, 0, .15);
}

.coll-title-box {
    font-family: "Roboto Slab", serif;
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000000;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 24px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.coll-discount-badge {
    background-color: #ff4757;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
}

.coll-price-section {
    margin-top: 10px;
}

.coll-new-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2ecc71;
    margin-left: 15px;
}

.coll-old-price {
    font-size: 1.2rem;
    text-decoration: line-through;
    color: crimson;
    margin-right: 15px;
}

.coll-card-title {
    font-family: "Roboto Slab", serif;
}

.coll-half-divider {
    position: relative;
    height: 1px;
    background-color: transparent;
    border: none;
    box-shadow: 0px -6px 0.5em 1.5px rgba(127, 252, 173, 0.74);
}

.coll-half-title-box {
    font-family: "Roboto Slab", serif;
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000000;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 24px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.coll-ratings {
    margin-right: 10px;
}

.coll-ratings i {

    color: #cecece;
    font-size: 32px;
}

.coll-rating-color {
    color: #fbc634 !important;
}


.card {
    width: 100%;
    max-width: 18rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .coll-divider-container .coll-title-box {
        font-size: 1.2rem;
    }

    .coll-price-section span {
        font-size: 0.9rem;
    }

    .coll-divider-container {
        margin-bottom: 1rem;
    }

    .carousel-inner {
        padding: 1rem;
    }
}

.coll-social {
    text-decoration: none;
}

.coll-chat-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(127, 252, 173, 0.432);
    border-width: 3px;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.coll-chat-button:hover {
    background-color: rgba(127, 252, 173, 0.74);
}

.coll-chat-img {
    width: 40px;
}